<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>后台管理</title>
<link href="static/css/login.css" rel="stylesheet" type="text/css" />

</head>
<!--
	vue指令：
	赋值文本数据的插值表达式 {{}}
	v-on: @ 事件名称    -> 事件指令
    v-text&v-html  用来设置标签内容
    v-bind    用来设置标签属性的，可以实现表单元素的单向赋值
    v-model   用来给表单设置双向数据绑定的   单选和多选可以控制默认点击和选择
    v-if & v-show   用来控制标签的显示和隐藏
    v-for     实现标签是循环绑定     默认尽量设置一个唯一的key    v-bind:key="唯一值"
-->
<body>
	<div class="login_box">
	      <div class="login_l_img"><img th:src="@{/static/img/login-img.png}" /></div>
	      <div class="login">
	          <div class="login_logo"><a href="#"><img th:src="@{/static/img/logo.png}" /></a></div>
	          <div class="login_name">
	               	<p>天来商城后台管理系统</p>
	          </div>
	          <form th:action="@{/user}" method="post">
	              	<input  type="text" name="account" required placeholder="用户名" >
					<input  type="password" name="password" required placeholder="密码" />
					<div class="checkcode">
						<input type="text" name="checkCode" required placeholder="验证码" />
						<!-- v-bind:属性 可以简写为 :属性 -->
						<img th:src="@{/images/captcha}" onclick="changeImages()" />
					</div>
					<input type="checkbox" name="saveMe" /> <label>记住我</label>
	              	<input value="登 录" style="width:100%;" type="submit">
	          </form>
	          <div id="info" th:text="${errInfo}"></div>
	      </div>
	      <div class="copyright">睿峰科技有限公司 版权所有©20219-2030</div>
	</div>
	<script src="static/js/jquery-1.12.4.min.js"></script>
	<script>

		function changeImages() {
			$(".checkcode img").attr("src", "images/captcha?" + Math.random())
		}
	</script>
	<!--
	<script src="./static/js/vue.js"></script>
	<script src="./static/js/axios.min.js"></script>
	<script>
		// 初始化vue对象  M V VM 
		new Vue({
			// 挂载根视图 V
			el:".login_box",
			// 模型数据  M
			data:{
				user:{
					username:'老王',
					password:'999999',
					checkCode:'',
					saveMe:false
				},
				checkCodeUrl:"http://localhost:8080/day04/captcha",
				errinfo:""
			},
			// 所有事件函数的定义区域
			methods: {
				// 验证码的切换事件
				checkCodeChangeFunc(){
					// 切换验证码
					this.checkCodeUrl = "http://localhost:8080/day04/captcha?"+Math.random();
				},
				// 定义一个登录事件函数
				loginFunc(){
					// 发送请求给后端，获取数据,方法中获取模型数据需要加上this
					// 对象会自动转换为json格式发送给后端
					axios.post('http://localhost:8080/day04/login', this.user).then(resp => {
						// 成功后的响应数据resp
						console.log(resp.data)
						if (resp.data.code === 20000){
							// 登录成功
							console.log(resp.data.message)
							// location.assign("index.html")
						}
						this.errinfo = resp.data.message;
					})
					.catch(err => {
						console.log(err.response.data)
					})
					
				}
			},
		})
	</script>
	-->
</body>
</html>
